body {
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center; /* Выравниваем текст по центру */
}

.question-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Выравниваем элементы по центру */
}

label {
    margin-bottom: 10px;
}

.question-input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: center; /* Выравниваем текст внутри input по центру */
}

.submit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}
