<html>
    <head>
        <title>QazMarket Inside</title>
    </head>
    <body>
        <div>
            <h1><a href="/">QazMarket Inside</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Первый пост</a></h2>
            <p>Мы самый успешный проект в Казахстане!</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Второй пост</a></h2>
            <p>Мы захватим весь рынок!</p>
        </div>
    </body>
</html>

